

/*---==================
    02. Header css 
=================----*/

/* Transparent Header  */ 

.transparent-header {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    @media #{$xm}{
        top: 0;
    }
}

/* Header Navigation */

.header-navigation{
    @media #{$lm}{
        padding: 15px 0;
    }
    & .nav-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        @include transition(.3s);
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        &.active{
            visibility: visible;
            opacity: 1;
        }
    }
    & .site-branding{
        @media #{$xss}{
            max-width: 150px;
        }
    }
    & .primary-menu{
        display: flex;
        align-items: center;
    }
    & .main-menu{
        & ul{
            & > li{
                display: inline-block;
                position: relative;
                margin-left: 17px;
                margin-right: 17px;
                @media #{$lp}{
                    margin-left: 14px;
                    margin-right: 14px;
                }
                & > a {
                    position: relative;
                    display: block;
                    font: 700 18px $heading-font;
                    padding: 40px 0 41px;
                    text-transform: capitalize;
                    line-height: 1;
                    @extend %heading;
                    & span.dd-trigger{
                        margin-left: 5px;
                    }
                    @media #{$lp}{
                        font-size: 16px;
                    }
                }
                & .sub-menu {
                    position: absolute;
                    left: 0;
                    top: 120%;
                    width: 250px;
                    @extend %white-bg;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.2s;
                    z-index: 99;
                    padding: 15px 0;
                    height: auto;
                    text-align: left;
                    border-radius: 5px;
                    box-shadow: 0px 30px 80px 15px rgba(0, 0, 0, 0.09);
                    & li {
                        display: block;
                        margin: 0 20px 10px;
                        border-bottom: 1px solid #ececec;
                        & a {
                            display: flex;
                            align-items: center;
                            padding: 0 5px 10px;
                            position: relative;
                            line-height: 1.5;
                            margin: 0;
                            @include transition(.3s);
                            @extend %heading;
                            & span.dd-trigger{
                                float: right;
                            }
                            &:hover {
                                @extend %secondary-color;
                            }
                        }
                        &:last-child{
                            border-bottom: 0;
                            margin-bottom: 0;
                            & a{
                                padding-bottom: 0;
                            }
                        }
                        & .sub-menu {
                            left: 100%;
                            top: 50%;
                        }
                        &:hover {
                            & .sub-menu {
                                top: 0%;
                            }
                            & > a{
                                @extend %secondary-color;
                            }
                        }
                    }
                }
                &:hover {
                    & > a{
                        @extend %secondary-color;
                    }
                    & > .sub-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }
            }
		}
    }
    &.breakpoint-on {
        & .nav-search{
            & .form_control{
                border: 1px solid #e1e1e1;
                padding: 15px 20px;
            }
            & .search-btn{
                position: absolute;
                top: 17px;
                right: 20px;
                background-color: transparent;
                @extend %primary-color;
            }
        }
		& .nav-menu{
			text-align: left;
			@extend %white-bg;
			position: fixed;
			top: 0;
			left: -290px;
			width: 290px;
			height: 100%;
			transition-duration: 500ms;
			padding: 40px 20px;
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
			display: block;
			overflow-x: hidden;
			overflow-y: scroll;
            z-index: 9999;
			&.menu-on {
				left: 0;
			}
			& .main-menu {
				& ul li {
					display: block;
					margin: 0;
					border-bottom: 1px solid #ececec;
                    &.search-item{
                        display: none;
                    }
					& a {
						display: block;
						padding: 15px 0;
                        color: #000;
					}
					& .sub-menu {
						width: 100%;
						position: relative;
						top: 0;
						left: 0;
                        padding: 0;
						box-shadow: none;
						background-color: transparent;
						visibility: visible;
						opacity: 1;
						display: none;
						transition: none;
						& > li {
                            & > a{
                                padding: 10px 20px;
                            }
						}
					}
					& .dd-trigger {
						position: absolute;
						right: 0;
                        top: 10px;
						height: 25px;
						width: 25px;
                        border-radius: 3px;
						z-index: 2;
						cursor: pointer;
						@extend %primary-bg;
                        @extend %white-color;
						font-size: 16px;
                        @extend %flex-center;
					}
				}
				&.menu-on {
					left: 0;
				}
			}
		}
        & .navbar-toggler{
			display: block;
		}
	}
    & .navbar-toggler {
		padding: 10px 7px;
		border: 1px solid rgb(0 0 0 / 70%);
		background-color: transparent;
		cursor: pointer;
        display: none;
        border-radius: 5px;
        @media #{$lm}{
            margin-left: 30px;
        }
        @media #{$xss}{
            margin-left: 15px;
        }
		& span {
			position: relative;
			border-radius: 3px;
			display: block;
			height: 2px;
			padding: 0;
			width: 30px;
			cursor: pointer;
			display: block;
            @include transition(.3s);
            background-color: rgb(0 0 0 / 70%);
            &:not(:first-child){
                margin-top: 5px;
            }
		}
		&.active {
			span:nth-of-type(1) {
				transform: rotate3d(0, 0, 1, 45deg);
				top: 7px;
			}
			span:nth-of-type(2) {
				opacity: 0;
			}
			span:nth-of-type(3) {
				transform: rotate3d(0, 0, 1, -45deg);
				top: -7px;
			}
		}
	}
}


.nav-right-item{
    display: flex;
    align-items: center;
    & .search-btn{
        @extend %heading;
        cursor: pointer;
        @include transition(.3s);
        &:hover{
            @extend %secondary-color;
        }
        @media #{$lm}{
            display: none;
        }
    }
    & .bar-item{
        cursor: pointer;
    }
    & .menu-button{
        margin-left: 30px;
        margin-right: 30px;
    }
}

.header-one{
    & .header-navigation{
        &.sticky{
            @extend %white-bg;
        }
        & .primary-menu{
            justify-content: space-between;
        }
    }
}

.header-two{
    & .header-navigation{
        @media #{$lm}{
            padding: 0;
        }
        & .inner-navigation{
            position: relative;
            z-index: 1;
            @media #{$lm}{
                padding: 15px 0;
            }
            &:after{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 400px;
                height: 100%;
                @extend %secondary-bg;
                clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
                z-index: -1;
                @media #{$lp}{
                    width: 250px;
                }
                @media #{$lm}{
                    width: 300px;
                }
                @media #{$xss}{
                    width: 200px;
                }
            }
        }
        &.sticky{
            @extend %white-bg;
        }
        & .site-branding{
            @media #{$lp}{
                max-width: 200px;
            }
        }
        & .primary-menu{
            justify-content: space-between;
        }
        & .nav-right-item{
            & .menu-button{
                margin-left: 40px;
            }
        }
    }
}

.header-top-bar{
    padding: 13px 0;
    line-height: 22px;
    @media #{$xm}{
        display: none;
    }
    & .top-left{
        & span{
            display: inline-flex;
            align-items: center;
            @extend %white-color;
            &:hover{
                & a{
                    @extend %secondary-color;
                }
            }
            & i{
                margin-right: 10px;
            }
            &:after{
                display: inline-flex;
                content: '';
                width: 5px;
                height: 5px;
                @include border-radius(50%);
                @extend %white-bg;
                margin-left: 40px;
                margin-right: 30px;
            }
            &:not(:first-child){
                &:after{
                    display: none;
                }
            }
        }
    }
    & .top-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & .lang-dropdown{
            display: flex;
            align-items: center;
            &:after{
                display: inline-flex;
                content: '';
                margin-left: 30px;
                margin-right: 30px;
                width: 5px;
                height: 5px;
                @include border-radius(50%);
                @extend %white-bg;
            }
            & .nice-select{
                padding-right: 20px;
                line-height: 21px;
                background-color: transparent;
                @extend %white-color;
                & .list{
                    @extend %heading;
                }
            }
        }
        & .social-link{
            & li{
                &:not(:last-child){
                    margin-right: 20px;
                }
                & a{
                    @extend %white-color;
                    &:hover{
                        @extend %secondary-color;
                    }
                }
            }
        }
    }
}


/* Header Sticky */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    animation: sticky 1.2s;
}
@-webkit-keyframes sticky {
    0% {
      top: -200px;
    }
    100% {
      top: 0;
    }
}
@keyframes sticky {
    0% {
      top: -200px;
    }
    100% {
      top: 0;
    }
}